<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block link %}{% endblock%}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'insects:home' %}">Insect</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Subset
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <input type="checkbox" id="subset1" name="subset1" value="Bike" />
                <label for="subset1">Train</label>
                <br />
                <input type="checkbox" id="subset2" name="subset2" value="Bike" />
                <label for="subset2">Validation</label>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Type
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <input
                  type="checkbox"
                  id="type1"
                  name="type1"
                  value="Bike"
                  checked="true"
                />
                <label for="type1">Detection</label><br />
                <input type="checkbox" id="type2" name="type2" value="Bike" />
                <label for="type2">Another action</label><br />
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link"> Search tool </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'insects:login' %}"> Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'insects:register' %}"> Register </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <span
              class="search_span"
              style="max-height: 200px; position: relative; display: inline-block margin: 0px 0px 0px 0px;"
            >
              <input
                class="form-control mr-sm-2 search-text"
                type="text"
                placeholder="Search"
                aria-label="Search"
                oninput="myFunction()"
              />
              <div class="tt-menu">
                <div class="tt-dataset tt-dataset-0" id="f_search_bar">
                  
                </div>
              </div>
            </span>
          </form>
        </div>
    </nav>
    {% block content %}{% endblock%}
</body>
</html>
<script>
    var all_insect
    var current_insect
    const get_all_insect = () => {
        let req = new XMLHttpRequest()
        req.open('get', '/get_all_insect', false)
        req.send(null)
        all_insect = JSON.parse(req.responseText);
    }

    const display_insect_search_key = () => {
        let str = ""
        for(let i = 0; i < current_insect.length; i++) {
            //console.log(current_insect[i])
            
            str += `<div class="tt-suggestion tt-selectable" onmousedown="goTo('`+current_insect[i].fields.slug+`')">` + current_insect[i].fields.eName + `</div>`
        }
        return str;
    }

    

    get_all_insect();

    current_insect = all_insect;

    $("#f_search_bar").html(display_insect_search_key())

    const myFunction = () => {
        string = $(".search-text").val();
        string = string.toLowerCase();
        result = [];
        if (string == "")
        {
            current_insect = all_insect;
            $("#f_search_bar").html(display_insect_search_key())
        }    
        for (i = 0; i < all_insect.length; i++) {
            var text = all_insect[i].fields.eName.toLowerCase();
            var n = text.search(string);
            if (n != -1) {
            result.push(all_insect[i]);
            }
        }
    
        current_insect = result
        $("#f_search_bar").html(display_insect_search_key())
    };

    const goTo = (url) => {
        console.log('hihi');
        window.location.href = url;
    }
</script>
{% block script %}{% endblock %}