{% extends 'base_layout.html' %}

{% block link %}
<style>
    .site-form input {
        display: block;
        margin: 5px 5px 5px 5px;
    }

    .site-form label {
        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }

    .site-form input label {
        margin: 15px 15px 15px 15px;
        text-align: left;
    }

    .site-form {
        margin: auto;
        border-radius: 5px;
        display: table;
        padding: 20px 20px 20px 20px;
        align-self: center;
        background-color: snow;
        
    }

    .form {
        margin-top: 100px;
        text-align: center;
        
    }
</style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form">
    <form action="{% url 'insects:login' %}" method="post" class='site-form'>
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        {{ form }}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}